{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    {% include 'espaco/partials/nav.html' %}
    <main>
        <div class="hometudo">
            <div class="fundo_home">
                <div class="body_home">
                    
                    <img class="img_home" src="{% static 'img/logo.png' %}" alt="">
                   <span>TE AJUDO A SUPERAR
                    SEUS TRAUMAS E CONFLITOS EMOCIONAIS
                    Te ajudo a Identificar e Superar suas Dores Emocionais para você se permitir VIVER MELHOR!!!</span>
                </div>
            </div>

        </div>
    </main>
{% endblock content %}
